[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
translators = "*"
requests = "*"
googletrans = "==4.0.0-rc1"
langid = "*"
fpdf = "*"
reportlab = "*"
xhtml2pdf = "*"
pdfkit = "*"
djangorestframework = "*"
bs4 = "*"
django-ckeditor = "*"
termcolor = "*"
weasyprint = "*"

[dev-packages]

[requires]
python_version = "3.12"
